.header-comp{
    padding: 15px;
}
.header-section .logo{
    padding-top: 0 !important;
}
.header-section .logo img{
    width: 50px;
}
.header-comp .category-list{
    list-style: none;
    text-align: left;
    margin-bottom: 0;
}
.header-comp .category-list li{
    display: inline-block;
}
.header-comp .category-list li a{
    display: block;
    padding: 10px;
    border-bottom: 2px solid red;
    color: red;
    font-weight: bold;
    margin-right: 10px;
    transition: 0.5s ease;
}
.header-comp .category-list li a:hover{
    background-color: red;
    color: #fff;
}
.header-comp .category-list li.submenu{
    position: relative;
}
.header-comp .category-list li.submenu .submenu-list{
   position: absolute;
   opacity: 0;
   z-index: -1;
   transition: 0,5s;
}
.header-comp .category-list li.submenu:hover .submenu-list{
    opacity: 1;
    z-index: 1;
}
.header-comp .category-list li.submenu .submenu-list{
    width: 275px;
    background-color: #fff;
    padding: 20px;
}
.header-comp .category-list li.submenu .submenu-list li{
    display: block;
    margin: 0;
}

.header-comp .category-list li a{
    text-decoration: none;
    
}

.header-comp .category-list li ul{
    list-style: none;
}